.main{

    
}
.meta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(240, 212, 163, 0.789)
}
ul{
    display: table;
    list-style-type: none;
    margin: auto;
}
ol{
     
    display: table;
    list-style-type: none;
    margin: auto;
}